# Ignore node_modules in Frontend and Backend
Frontend/node_modules/
Backend/node_modules/

# Ignore .env files in Frontend and Backend
Frontend/.env
Backend/.env

# Alternatively, ignore all .env files across the project
*.env
